* {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  min-height: 100vh; /* 确保内容占满整个视窗高度 */
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ebedee;
  color: #2a2b2c;
}

.card {
  background-color: transparent;
  width: 768px;
  margin: auto; /* 确保 .card 水平居中 */
}

@media (max-width: 769px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .card {
    width: 95%;
  }
}

@media (prefers-color-scheme: dark) { 
  body {
    color: #d9d9d9; 
    background: #1b1b1b;
  }
  .card {
    background-color: #FF7900;
  }
}
