/* 取消默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #2a2b2c;
  background-color: #ebedee;
  height: 100vh; /* 确保 body 高度覆盖视口高度 */
  margin: 0;
}

img {
  width: auto;
  max-width: 100%;
}

.card {
  background-color: transparent;
  width: 768px;
  overflow-x: auto; /* 允许横向滚动以防内容溢出 */
  margin: 10px; /* 确保卡片在视口中有间距 */
}

.form-control {
  cursor: auto;
}

.img-thumbnail {
  max-height: 320px;
}

.list-group-item {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word; /* 保证兼容性 */
  overflow-wrap: break-word; /* 标准属性，自动换行 */
  white-space: normal; /* 确保文本可以换行 */
}

@media (max-width: 769px) {
  .card {
    width: 100%; /* 调整为100%以确保卡片宽度适应视口 */
    margin: 10px; /* 确保卡片在视口中有间距 */
  }
}

@media (max-width: 420px) {
  .card {
    width: 100%; /* 确保在更小的屏幕上也适应宽度 */
    margin: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #d9d9d9;
    background: #1b1b1b; /* 背景色设置为深色 */
  }
  .card {
    background-color: #FF7900; /* 卡片背景色设置为 KTM 摩托车橙色 */
  }
}
