* {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* 使所有子元素居中 */
  justify-content: center; /* 使所有子元素垂直居中 */
  min-height: 100vh; /* 确保 body 高度为视口高度 */
  color: #2a2b2c;
  background-color: #ebedee;
}

img {
  width: auto;
  max-width: 100%;
}

.card {
  background-color: transparent;
  width: 768px;
  /* 如果使用 margin-auto 无效，可以使用 flexbox */
}

.form-control {
  cursor: auto;
}

.img-thumbnail {
  max-height: 320px;
}

.list-group-item {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 769px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .card {
    width: 95%;
  }
}

@media (prefers-color-scheme: dark) { 
  body {
    color: #d9d9d9; 
    background: #1b1b1b; /* 背景色设置为深色 */
  }
  .card {
    background-color: #FF7900; /* 卡片背景色设置为 KTM 摩托车橙色 */
  }
}
